.body{
    background-color: lightgrey;
}
.navbar_padding{
    padding: 0;
    background-color: white;
}
.navbar_latitude{
    background-color: teal;
    padding: 5px;
    font-size: 2em;
    margin-left : 75px;
}
.navbar_styling{
    margin-right : 75px;
}
.column1_specs{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#index_main,
#index_main_image{
  float: left;
}
#index_main_image{
    width: 60%;
    height: auto;
    margin-right: 20px;
}
#main_image{
    width: 70%;
    height: auto;
    margin-left: 75px;
    padding-top: 0px;
}
#index_figure {
  position: relative;
}
.column2_specs{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50%;
}
.figure_caption{
    text-align: center;
    font-weight: bold; 
}
.data_container_specs{
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}
@media (max-width: 991px) {
    .body{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar_padding{
        background-color:teal;
    }
    .navbar_latitude{
        margin-left: 75px;
    }        
    .navbar_styling{
        background-color: white;
        margin-left : 0px;
        margin-right : 0px;
    }
    .table_overflow{
        overflow-y: hidden;
        box-sizing: content-box;
        box-shadow: 0 0 0 5px white;
        padding-left:0px;
        margin-top:25px;
    }
}